@import "../config/config.less";

.@{css}-segments-tile {
  position: relative;
  width: 99%;
  float: left;
  padding: 8px;

  &-row {
    padding-bottom: 8px;

    .uu5-bricks-icon {
      font-size: 18px;
      margin-right: 8px;
    }
  }

  &-action-button {
    position: absolute;
    top: 8px;
    right: 8px;
  }
}

